 $white_opaque: rgba(250, 250, 250, 0.2);
 $dark: #1F7972;
 $green: #28a745;

 * {
 	box-sizing: border-box;
 	font-family: 'Open Sans';
 }

 html {
 	height: 100%;
 }

 body {
 	background-image: url("https://images.wallpaperscraft.ru/image/luzhajka_les_gory_144578_1600x1200.jpg");
 	font-family: 'Open Sans', sans-serif;
 	background-repeat: no-repeat;
 	background-size: cover;
 }

 .clearfix:before,
 .clearfix:after {
 	content: " ";
 	display: table;
 }

 .clearfix:after {
 	clear: both;
 }

 #notice {
 	text-align: center;
 	font-size: 1.6em;
 	color: #21f351;
 	font-weight: 100;
 	padding: .5em 1em;
 	display: block;
 	margin: 1em 25%;
 }

 .container {
 	width: 50%;
 	max-width: 750px;
 	background: $white_opaque;
 	margin: 3em auto 0 auto;
 	border-radius: 7px;
 	-webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, .3);
 	box-shadow: 0 0 4px 4px rgba(0, 0, 0, .03);
 	padding: 1em 0;

 }

 .todo_list_title {
 	text-align: center;
 	font-weight: 700;
 	font-size: 27px;
 	text-transform: uppercase;
 	color: white;
 	margin: 0;

 	a {
 		text-decoration: none;
 		color: white;
 		transition: all .4s ease-in-out;

 		&:hover {
 			opacity: 0.4;
 		}
 	}
 }

 .todo_list_sub_title {
 	margin: 0 0 3em 0;
 	text-align: center;
 	font-size: 0.9em;
 	color: #6c14af;
 	font-weight: 100;
 	font-style: italic;
 }

 .index_row {
 	padding: 2em;
 	border-bottom: 1px solid rgba(250, 250, 250, .3);

 	.todo_list_sub_title {
 		margin-bottom: 0;
 	}
 }

 #todo_items_wrapper {
 	.row {
 		width: 100%;
 		border-top: 1px solid rgba(250, 250, 250, .3);
 		border-bottom: 1px solid rgba(250, 250, 250, .3);
 		background: #b9b9b985;
 		margin: 0;

 		.complete {
 			width: 10%;
 			float: left;
 			text-align: center;
 			border-right: 1px solid rgba(250, 250, 250, .3);
 			padding: 1em 0;
 		}

 		.todo_item {
 			width: 80%;
 			float: left;

 			p {
 				margin: 0;
 				padding: 1em;
 				color: black;
 				font-weight: 400;
 				font-family: 'Open Sans';
 			}
 		}

 		.trash {
 			width: 10%;
 			float: left;
 			text-align: center;
 			border-left: 1px solid rgba(250, 250, 250, .3);
 			padding: 1em 0;
 		}

 		i {
 			color: white;
 			transition: all .4s ease-in-out;

 			&:hover {
 				color: $dark;
 			}
 		}
 	}

 	#form {
 		margin-top: 2em;
 		padding: 0 5%;

 		.actions {
 			margin-top: 200px;
 			padding: 10px 0;
 		}

 		input[type="text"] {
 			width: 72%;
 			margin-right: 2%;
 			display: inline-block;
 			outline: none;
 			background: rgba(250, 250, 250, 1);
 			border: none;
 			height: 40px;
 			border-radius: 4px;
 			padding: 1em 2em;
 		}

 		input[type="submit"] {
 			background: rgba(250, 250, 250, 1);
 			outline: none;
 			border: none;
 			height: 40px;
 			border-radius: 4px;
 			width: 25%;
 			display: block;
 			transition: all .4s ease-in-out;
 			cursor: pointer;

 			&:hover {
 				background: $dark;
 			}
 		}

 		::-webkit-input-placeholder {
 			color: $dark;
 		}
 	}
 }

 .links {
 	display: block;
 	margin: 1.5em auto 0 auto;
 	text-align: center;
 	font-size: 0.8em;
 	color: white;

 	a {
 		width: fit-content;
 		background: rgba(250, 250, 250, 1);
 		color: black;
 		padding: 5px 10px;
 		text-decoration: none;
 		border-radius: 3px;
 		transition: .2s;

 		&:hover {
 			text-decoration: none;
 			color: white;
 			background: $dark;
 		}
 	}
 }

 .forms {
 	padding: 0 5%;
 }

 label {
 	color: $dark;
 	font-weight: 400;
 }

 input[type="text"],
 textarea {
 	width: 100%;
 	margin: .5em 2% 1em 0;
 	display: inline-block;
 	outline: none;
 	background: rgba(250, 250, 250, .4);
 	border: none;
 	height: 40px;
 	border-radius: 4px;
 	padding: 1em 2em;
 }

 textarea {
 	height: 200px;
 }

 input[type="submit"] {
 	background: white;
 	outline: none;
 	border: none;
 	height: 40px;
 	border-radius: 4px;
 	width: 100%;
 	display: inline-block;
 	transition: all .4s ease-in-out;
 	cursor: pointer;
 	color: $dark;

 	&:hover {
 		background: $dark;
 		color: white;
 	}
 }

 ::-webkit-input-placeholder {
 	color: $dark;
 }

 .login-info {
 	text-align: center;
 }

 .form-group {
 	a {
 		width: fit-content;
 		background: rgba(250, 250, 250, 1);
 		color: black;
 		padding: 5px 10px;
 		text-decoration: none;
 		border-radius: 3px;
 		transition: .2s;
 		margin-bottom: 7px;

 		&:hover {
 			text-decoration: none;
 			color: white;
 			background: $dark;
 		}
 	}
 }